body{
    background-image: url("bg2.jpg");
    background-color: #cccccc;
}

.msg-header{
    padding: 1%;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(90deg,#9341ff,#6f00ff)!important;
}

.msg-body{
    background-color: rgb(233, 233, 233);
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}